* {
  background-color: none;
  font-family: Arial, sans-serif;
  font-weight: 100;
  transition: 0.3s cubic-bezier(0.9, 0, 0.8, 0.2);
  text-decoration: none;
  position: relative;
}
html{
  overflow: hidden;
}

.navbar .navbar-brand{
color: white;
font-weight: 600;
font-size: 30px;
}

button.navbar-toggler{
  color: wheat;
  background-color: whitesmoke;
}
.nav-item a{
  margin: 0;
  padding: 0;
  
}
.nav-item, .nav-item a{
  color: aliceblue;

}

.nav-item a.red{
  color: red;
}

section {
  font-weight: 400;

  width: 100%;
  min-height: 100%;
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
 
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
background-color: #000000;
    overflow: hidden;
  padding: 0px;
  margin: 0;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: 100vh;
}


.overLay {
  position: fixed;
  width: 105%;
  height: 105%;
  background-color: rgba(0, 0, 0, 0.478);
  opacity: 0;
  z-index: -1;
}

.overLay.active {
  z-index: 45;
  opacity: 1;
}


.optionsContainer{
  
color: rgb(255, 255, 255);
  height: fit-content;
  width: fit-content;
  padding: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  padding-top: 50%;


}

.backButton{
  color: whitesmoke;
  font-size: 40px;
  position: absolute;
  top: 8px;
  right: 20px;
}
div.optionsContainer{
  width: fit-content;
  height: fit-content;
  margin: 0;
  padding: 20px;
}
.optionsContainer span{

  border: 2px solid white;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: auto;
  text-align: center;
  padding: 5px;
}

.screen h2, section h2{
  color: white;
  text-align: left;
  width: 90%;
}

form{
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-height: 35%;
max-height: 40%;


}

 .scrollable, section .scrollable{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  overflow-y: scroll;
  min-height: 40%;
  max-height: 50%;
  padding-bottom: 20px;
  width: 95%;

  padding: 3px;
  padding-bottom: 200px;
  box-sizing: border-box;
  overflow-x: hidden;
}


.scrollable.scrollableMax{
  min-height: 60%;
  max-height: 75%;
  
}
.hide{
  display:none;
}

.screen label, section label{
  padding: 7px;
  border: 3px solid white;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  margin: 4px;
}
.screen form{ 

}

.screen input, input{
  background-color: transparent;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 10px;
  columns: white;
  text-align: left;
  padding: 5px;
}
button.upload-button{
  background-color: rgb(49, 138, 152);
  padding: 8px;
  margin: 10px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
}


.white-container {
  display: flex;
  align-items: center;
  height: fit-content;
  flex-direction: column;
margin-bottom: 10px;
  min-width:100%;
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
    backdrop-filter: blur(10px); /* Apply a blur effect to the background */
    border-radius: 10px; /* Rounded corners for the card */
    padding: 20px; /* Adjust padding as needed */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */

    /* Add shine effect with linear gradient */
    background: linear-gradient(15deg, rgba(255, 255, 255, 0.2) 10%, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0.2) 30%);
    background-size: 300% 300%;
    animation: shine 3s linear infinite;
    
}


.scrollable div:nth-child(even) div{
animation-delay: 500ms ;
}

/* Style for the event image */
.item-image, .white-container img {
  width: 100px;
  height: 100px;
  max-width: 150px;
  max-height: 150px;
  margin-right: 10px;
}

/* Style for the event description */
.item-description {
  flex: 1;
  font-size: 16px;
  color: #fff; 
}

/* Style for the delete button */
.delete-button {
  background-color: #FF3333; /* Dark red background for the button */
  color: #fff; /* White text color for the button */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth color transition on hover */

  /* Optional: Add a subtle shadow on hover */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.delete-button:hover {
  background-color: #FF0000; /* Brighter red on hover */
}

form.messageForm{
  
  flex-direction: row;

}
form textarea{
background-color: transparent;
border: 3px solid white;
border-radius: 10px;
}

@keyframes shine {
  0% {
      background-position: 0% 300%;
  }
  100% {
      background-position: 110% 0%;
      
  }
}

.column{
  flex-direction: column;

}
section p{
  color: rgb(255, 255, 255);
}
strong{
  font-weight: 900;
  color: bisque;
}

h3{
  width: 100%;
  text-align: end;
  color: wheat;
}

h3 i{
  color: wheat;
  font-size: 20px;
}


body a{
  color: white;
}


/********** Template CSS **********/
:root {
  --primary: #ff0000;
  --secondary: #191C24;
  --light: #6C7293;
  --dark: #000000;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}


/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}


/*** Button ***/
.btn {
  transition: .5s;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 50px;
}


/*** Layout ***/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 100vh;
  overflow-y: auto;
  background: var(--secondary);
  transition: 0.5s;
  z-index: 999;
}

.content {
  margin-left: 250px;
  min-height: 100vh;
  background: var(--dark);
  transition: 0.5s;
}

@media (min-width: 992px) {
  .sidebar {
      margin-left: 0;
  }

  .sidebar.open {
      margin-left: -250px;
  }

  .content {
      width: calc(100% - 250px);
  }

  .content.open {
      width: 100%;
      margin-left: 0;
  }
}

@media (max-width: 991.98px) {
  .sidebar {
      margin-left: -250px;
  }

  .sidebar.open {
      margin-left: 0;
  }

  .content {
      width: 100%;
      margin-left: 0;
  }
}


/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
  padding: 7px 20px;
  color: var(--light);
  font-weight: 500;
  border-left: 3px solid var(--secondary);
  border-radius: 0 30px 30px 0;
  outline: none;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
  color: var(--primary);
  background: var(--dark);
  border-color: var(--primary);
}

.sidebar .navbar .navbar-nav .nav-link i {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--dark);
  border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
  background: var(--secondary);
}

.sidebar .navbar .dropdown-toggle::after {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
  transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
  padding-left: 25px;
  border-radius: 0 30px 30px 0;
  color: var(--light);
}

.sidebar .navbar .dropdown-item:hover,
.sidebar .navbar .dropdown-item.active {
  background: var(--dark);
}

.content .navbar .navbar-nav .nav-link {
  margin-left: 25px;
  padding: 12px 0;
  color: var(--light);
  outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
  color: var(--primary);
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--dark);
  border-radius: 40px;
}

.content .navbar .dropdown-item {
  color: var(--light);
}

.content .navbar .dropdown-item:hover,
.content .navbar .dropdown-item.active {
  background: var(--dark);
}

.content .navbar .dropdown-toggle::after {
  margin-left: 6px;
  vertical-align: middle;
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
  transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
  .content .navbar .navbar-nav .nav-link {
      margin-left: 15px;
  }
}


/*** Date Picker ***/
.bootstrap-datetimepicker-widget.bottom {
  top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
  border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
  font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  padding: 10px;
  border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
  background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
  border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.progress .progress-bar {
  width: 0px;
  transition: 2s;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
  margin-top: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  border: 5px solid var(--primary);
  border-radius: 15px;
  transition: .5s;
}

.testimonial-carousel .owl-dot.active {
  background: var(--dark);
  border-color: var(--primary);
}


.logo{
  width: 100px;
 
}
.logo img{
width: 80px;
height: auto;
}

p span{
  color: var(--primary);
  font-size: larger;
  font-weight:800;
  margin-left: 10px;
}

h5 img{
  width: 40px;
  height: 40px;
  background: none;

 
}
.logo img{
  width: 100px;
}

.modal-header{
  background: var(--primary);
}
.modalTime{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.modalTime span{
  color: black;
}

.contentItem{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.detailsItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contentItem :last-child{
  color: black;
  font-weight: bold;
}

.modal-footer{
  display: flex;
  justify-content: space-between;
}

.modal-footer :first-child{
  background-color: rgb(41, 86, 208);
}
.modal-footer :first-child a{
color: #ffff;
}

.messageItem h2, .messageItem span i, .NotificationItem h2{
  color: #000000;
}

.mb-0 i{
font-weight: lighter;
}

.close {
  position: absolute;
  top: 6px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.popModal-content{
  padding-top: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

.notificationItem .notificationContent :hover{
 color: var(--primary);
 cursor: pointer;
}

.footer{
  position: absolute;
  bottom: 0;
}